/****** Area de login ********/
.container_main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.container_imagem{
    background-color: blue;
    width: 50%;
    height:800px;
}

.container_login{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: brown;
    width: 50%;
    height: 800px;
    
}

.container_login .input-login{
    width: 300px;
    height: 30px;
    
}


/* ************** display Flex Padrão****** */


/* *************Menu******************* */
.flex-container-menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

.flex-container-menu a{
    width: 200px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
}
