body,html{
    width: 100%;
    height:100%;
} 

/****** Area de login ********/

.container_main_login{
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    width: 100%;
   /* margin-top: 3%; */
    
}

.container_imagem{
    display: flex; 
    width: 50%;
    height:100%; 
    align-items: center; 
    justify-content: center;
    background-color: #4D3EFC; 
}

.container_imagem img{
    width: 100%;
} 

.container_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.container_login .input-login{
    width: 300px;
    height: 30px;
    
}


/* ************** display Flex Padrão****** */


/* *************Menu******************* */
.flex-container-menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

.flex-container-menu a{
    width: 200px;
    /* border: 1px solid black;  */
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 5px 0 5px 0;
}

.flex-container-menu a:hover{
    color: #FFF;
    background-color: #4D3EFC;
    font-weight: bolder;
}
